*{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}
.header,.banner{
    max-width: 1200px;
    margin:50px auto;
}
body{
    width: 100%;
}
/* Hedaer Styles */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fa-solid{
    display: none;
}
nav ul{
    display: flex;
}
nav li{
    list-style: none;
}
nav li a{
    text-decoration: none;
    margin-right: 44px;
    color:#424247;
    text-align: center;
    font-size: 18px;    
    font-weight: 400;
}
.navbar-title{
    color: #131318;
    font-size: 36px;
    font-weight: 800;

}
.navbar-title img{
   position: relative;
   top: 6px;
}
.expedia{
  color: #FF5400 ; 
  font-size: 50px;
}
 a.active{
    color: #FF5400;
}
/* Main Styles */

.banner-pic img{
    width: 1170px;
    height: 500px;
width: 100%;
}
.banner-title{
    position: absolute;
    bottom: 49%;
    left: 30.4%;
    color: #FFF;
    font-size: 64px;
    font-weight: 800;

}
.banner-description{
    position: absolute;
    bottom: 280px;
    left: 400px;
    color: #FFF;
    text-align: center;
    font-weight: 400;
    width: 676px;
    
}
.input-box{
    position: absolute;
    bottom: 20%;
    left: 23%;
    display: inline-flex;
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgba(255, 255, 255, 0.30);
    background: rgba(255, 255, 255, 0.30);
    padding: 16px;
}


.input-box input[type="text"] {

    border: 0;
    padding: 16px;
    border-radius: 8px;
    background: #FFF;
    margin-right: 24px;
    color: rgba(19, 19, 24, 0.50);
    font-weight: 400;
}
  #places {
    width: 174px;
    padding: 16px;
    border-radius: 8px;
   background: #FFF;
   border: 0;
   margin-right: 24px;
}

.input-box input[type="submit"]{
    width: 174px;
    height: 52px;
    border: 0;
    padding: 16px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-weight: 700;

}
.input-box i{
    position: absolute;
    right: 158px;
    bottom: 37px; 
     color: #FFF;
    
}

.Tours{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:130px 270px;
    gap: 105px;
    width: 1170px;
    height: 500px;
}
.tour-title{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 70px;
}

.tour-description p,li{
    color: rgba(19, 19, 24, 0.70);
    /* width: 500px; */
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
    text-align: left;
}
.btn{
    border-radius: 8px;
    background: #FF5400;
    padding: 14px 34px 13px 35px;
    border: 0;
    color: #FFF;
    margin:32px 0 0 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    
}

.Destination{
  margin: 135px 160px; 
  width: 1170px;
  /* display: grid;
 grid-template-rows: repeat(100px,50px 50px,100px); */
    
}


.Destination-content{
    margin: 50px 250px;
}
.Destination-content-title{
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 10px;
}
.Destination-content-details{
    color: rgba(19, 19, 24, 0.70);
     text-align: center;
   font-size: 16px;
   font-weight: 400;

}
.places img{
    padding: 4px;
}

.option{
    margin: 50px 250px;

    
    
}
.content{
    margin: 50px 180px;
}
.content-name{
    color: #131318;
text-align: center;

font-size: 40px;

font-weight: 800;

}
.content-banner{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  gap: 20px;
 
}
.content-banner-titles{
  
border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
}
.content-sumary{
    color: rgba(19, 19, 24, 0.70);
text-align: center;
width: 643px;
font-size: 16px;

font-weight: 400;

}
.content-banner-titles img {
    padding: 20px;
}

.content-banner-titled{
    
position: relative;
left: 200px;
border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
}
.content-banner-titled img{
    padding: 20px;
}
.content-banner-title{
   
    border-radius: 16px;
border: 1px solid rgba(41, 206, 246, 0.20);
background: rgba(41, 206, 246, 0.05);
}
.content-banner-title img{
    padding: 20px;
}
.hotel{
    color: #131318;
padding-left: 20px;
font-size: 24px;
font-weight: 800;

}
.detail{
    padding-top: 10px;
    padding-left: 20px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
} 
.food{
    margin: 80px 180px; 
}
.food-content h3{
    color: #131318;
text-align: center;
font-size: 40px;
font-weight: 800;

}
.food-content p{
    color: rgba(19, 19, 24, 0.70);
text-align: center;
width: 600px;
font-size: 16px;
padding-left: 280px;
font-weight: 400;

}
.food-talk{
    padding-top: 200px;
}
.food-talk h1{
    color: #FF5400;
text-align: center;
font-size: 40px;
font-weight: 800;

}
.food-talk p{
    color: rgba(19, 19, 24, 0.70);
text-align: center;
font-size: 16px;
font-weight: 400;

}
.food-sumary{
    display: flex;
    justify-content: space-between;
}

.bangladesh{
    margin: 50px 180px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.bd-title{
    color: #131318;
    font-size: 40px;
    font-weight: 800;

}

.bd-title-1{
    color: #5A5A5D;
    font-size: 16px;
   font-weight: 400;
   padding: 20px;

}
.banner-title-2{
    color: #131318;
font-family: Mulish;
font-size: 16px;
width: 518px;
font-weight: 700;
padding: 20px;
}

.newsletter{
    margin: 100px 180px;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.input{
    height: 345px;
    padding: 40px;
    border-radius: 16px;
    border: 1px solid #FF5400;
}
.input-title{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    padding-bottom: 10px;
}
.input-details{
    width: 350px;
    height: 100px;
    color: #5A5A5D;
   font-size: 16px;
    font-weight: 400;
}
.form-field {
    width: 300px;
    margin: 0 auto 20px auto;
    display: block;
    padding: 16px;
    border: none;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
}
.button {
    background-color:  #FF5400;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 300px;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 600;
    display: block;
}
form input::placeholder{
color: rgba(19, 19, 24, 0.30);
font-size: 16px;

}
.offer{
    width: 200px;
    transform: rotate(-19.628deg);
    padding: 20px;
    border-radius: 16px;
    background: #FF5400;
    color: #FFF;
    position: relative;
    left: 420px;
    bottom: 130px;
}
.offer-company{ 
text-align: center;
font-size: 14px;
font-weight: 400;

}
.offer-details{
font-size: 24px;
font-weight: 800;

}

/* Footer style */

.footer{
    width: 100%;
    background: rgba(19, 19, 24, 0.05);
}

.footer-content{
  padding:100px 400px;
}
.footer-content h3{
    color: #131318;
    font-size: 32px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.footer-content p{
    color: #5A5A5D;
    text-align: center;
    font-size: 16px;
    font-weight: 400;

}
.social-icon img{
position: relative;
left: 660px;
bottom: 50px;
}
#horizontal{
    margin: 0 284px;
    background: rgba(19, 19, 24, 0.10);
}
.copyright{
    margin: 0 500px 0 600px;
}
.privacy{
    font-family: 'Inter', sans-serif;
    color: #131318;
   font-weight: 300;
   padding: 50px;
}


/* Responsive styles */
@media screen and (max-width:576px) {
 
    nav ul{
        display: none;
    }
    .fa-solid{
        position: relative;
        right:20px;
        display: block;
    }
    .navbar-title,.expedia{
        margin-left: 10px;
        font-size: 2rem;
    }
    .navbar-title img{
        width:40px;
        
    }
    .banner-title{
        font-size: 2rem;
        position: relative;
        left: 50px;
        bottom: 480px;
        color: #FFF;
    }
    .input-box{
        width: 300px;
        font-size: 2rem;
        position: relative;
        left: -8px;
        bottom: 450px;
        color: #FFF; 
        padding-left: 110px; 
    }
    .input-box input[type="text"],.input-box input[type="submit"],#places {
        padding: 10px;
        margin: 10px;
    }
    .input-box i{
        right:260px;
    }
    .banner-description{
        width: 300px;
        padding-left: 210px;
        font-size: 14px;
        position: relative;
        bottom: 470px;
        left: -160px;
        color: #FFF;
    }
    .banner,body{
        width: 100%;
    }
    .Tours{
        margin: -390px 20px;
    }
    .tour-title{
        position: relative;
        left: -340px;
        font-size: 20px;
    }
    .tour-description{
        font-size: 14px;
        position: relative;
        left: -340px;
        bottom: 60px;
    }
    .btn{
        position: relative;
        left: -340px;
        bottom: 70px;
    }
    .tour-poster{
        position: relative;
        left: -310px;
        bottom: 125px;
       margin-right: 140px;
        
    }
    .Destination{
        margin: 910px 160px;
    }
    .Tours,.option,.food-sumary,.bangladesh,.newsletter{
        flex-direction: column;
    }
    .content-banner{
       display: flex;
    }
    .Destination{
        grid-template-rows: repeat(1,1fr);
    }
    .footer{
        width: 100%;
    }
    .input{
        width: 100vw;
    }
    .footer{
        width: 500vw;
    }
}

@media (min-width:576px) and (max-width:992px){
    nav ul{
        display: none;
    }
    .fa-solid{
        display: block;
    }
    .banner,body{
        width: 100%;
    }
    
    .Tours,.option,.food-sumary,.bangladesh,.newsletter{
        flex-direction: column;
    }
    .content-banner{
       display: flex;
    }
    .Destination{
        grid-template-rows: repeat(1,1fr);
    }
    .footer{
        width: 100%;
    }
    .input{
        width: 100vw;
    }
    .footer{
        width: 500vw;
    }
}

